body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.course {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}
