/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.calculator {
    max-width: 500px;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
button {
    width: calc(100% - 20px); /* Subtract padding */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#calculate-btn {
    margin-bottom: 20px; /* Add some space between buttons */
}

#result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9; /* Light gray background color */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}





